{% extends "index.html" %}
{% block body %}
  <section>
    <h2>Text</h2>
    <div class="rt-styleguide-item rt-section">
      <h1>Header One</h1>
      <p class="rt-help-text">Used once for title of view.</p>
    </div>
    <div class="rt-styleguide-item rt-section">
      <h2>Header Two</h2>
      <p class="rt-help-text">Used for section titles</p>
    </div>
    <div class="rt-styleguide-item rt-section">
      <h3>Header Three</h3>
      <p class="rt-help-text">Used for form titles</p>
    </div>
    <div class="rt-styleguide-item rt-section">
      <p class="">I'm a paragraph. An unreached detail without sopranos is truly a snowstorm of softwood brows. To be more specific, the lento layer comes from a porcine poet. Guarded feet show us how plywoods can be tuna. Framed in a different way, one cannot separate coats from felon fictions. A billboard of the sunshine is assumed to be a sotted currency. In modern times the first ductile lift is, in its own way, a vase. This is not to discredit the idea that a boxlike toenail without workshops is truly a trowel of licensed values. A belgian sees a balance as a convinced format.</p>
      <p class="rt-help-text">Used for instructional help text.</p>
    </div>
    <div class="rt-styleguide-item rt-section">
      <p class="rt-help-text">I'm help text.</p>
      <p class="rt-help-text">Used for instructional help text.</p>
    </div>
    <div class="rt-styleguide-item rt-section">
      <p class="rt-warning-text">I'm warning text.</p>
      <p class="rt-help-text">Used for warnings and error text.</p>
    </div>
  </section>
  <h2>Buttons</h2>
  <p>Buttons go here.</p>
{% endblock %}
