// Styles for the REACT component Chart, including D3 svgs
.rt-chart text
{
  fill: @navy;
  font-weight: 700;
  text-shadow: 1px 1px fadeout(@white, 50%);
}

.rt-chart .slice text
{
  .font-size(.9);
  text-transform: uppercase;
}

.rt-graph
{
  path {
      stroke: steelblue;
      stroke-width: 2;
      fill: none;
  }

  .axis path,
  .axis line {
      fill: none;
      stroke: grey;
      stroke-width: 1;
      shape-rendering: crispEdges;
  }
}
